/* ======================= Input ====================== */
.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #2a2185;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #ffffff;
  width: fit-content;
}

.coolinput input[type=text].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #2a2185 solid;
  border-radius: 5px;
  background: #ffffff;
}

.coolinput input[type=text].input:focus {
  outline: none;
}

/* ======================= Radio Nam Nu ====================== */
.radio-gender {
  margin: 15px 0 0 0;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 15px;
  color: #0000007c;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.radio-button__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s ease;
}

.radio-button__input:checked+.radio-button__label .radio-button__custom {
  background-color: #2a2185;
  border-color: transparent;
  transform: scale(0.8);
  box-shadow: 0 0 20px #2a218580;
}

.radio-button__input:checked+.radio-button__label {
  color: #2a2185;
}

.radio-button__label:hover .radio-button__custom {
  transform: scale(1.2);
  border-color: #2a2185;
  box-shadow: 0 0 20px #2a218580;
}

/* ======================= Input file ====================== */
.form-control {
  border-radius: 5px;
  outline: none;
  font-size: 13px;
  cursor: pointer;
}
::-webkit-file-upload-button {
  padding: 5px 10px;
  font-size: 9px;
  color: white;
  border: none;
  background-color: #2a2185;
  cursor: pointer;
}

/* ======================= btn ====================== */
.btn-crud  .btn {
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 5px;
  font-size: 17px;
  z-index: 1;
  border: 2px solid ;
  border-radius: 6px;
  position: relative;
  background: white;
  cursor: pointer;
}

.btn-crud  .btn::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.btn-crud  .btn:hover {
  color: white;
}

.btn-crud  .btn:before {
  top: 100%;
  left: 100%;
  transition: .3s all;
}
.btn-crud  .btn:hover::before {
  top: -30px;
  left: -30px;
}

/* btn reset */
.btn-crud  .reset {
  color: #2a2185;
  border: 2px solid #2a2185;
}
.btn-crud .reset::before {
  background: #2a2185;
}

/* btn new */
.btn-crud .new {
  color: #34974d;
  border: 2px solid #34974d;
}
.new::before {
  background: #34974d;
}

/* btn fix */
.btn-crud .fix {
  color: #f5ae51;
  border: 2px solid #f5ae51;
}
.btn-crud .fix::before {
  background: #f5ae51;
}

/* btn del */
.btn-crud .del {
  color: red;
  border: 2px solid red;
}
.btn-crud .del::before {
  background: red;
}