.select {
}
.select__movieInformation {
  height: 620px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.select__movieInformation-text h3 {
  color: #02599d;
  font-family: Oswald;
  display: inline-block;
}
.select__movieInformation-text h4 {
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.select__movieInformation-subtitle {
}
.select__movieInformation-category {
  /* display: flex;  */
  padding-bottom: 20px;
  border-bottom: 2px dashed #7a7a7a;
}
.select__movieInformation-category img {
  /* display: block; */
}
.select__movieInformation-category p {
  display: inline;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.8;
}
.select__movieInformation-ticket p {
  display: inline;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.8;
}
.select__seat-text p {
  display: inline;
}

/* Chọn ghế  */

.movie-seats {
  display: flex;
  flex-wrap: wrap;
}

.seat {
  width: 30px;
  height: 40px;
  margin: 5px;
  background-image: url(../img/logo/gheThuong.png);
  text-align: center;
  line-height: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.seat.selected {
  background-image: url(../img/logo/gheThuong_true.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
