<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Thống Kê</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="/css/style__admin.css">
    <script src="/js/auth.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/js/admin/CRUDThongKe.js"></script>
</head>

<body ng-app="myApp">
    <!-- =============== Navigation ================ -->
    <div class="container" ng-controller="ThongKeController">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
<!--                        <span class="icon">-->
<!--                           <ion-icon name="film-outline"></ion-icon>-->
<!--                        </span>-->
                        <span class="title">CINEMAS</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8085/DynamicCinema/admin/index">
                        <span class="icon">
                            <ion-icon name="stats-chart-outline"></ion-icon>
                        </span>
                        <span class="title">Thống kê</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8085/DynamicCinema/admin/khachHang">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Khách hàng</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8085/DynamicCinema/admin/nhanVien">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Nhân Viên</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8085/DynamicCinema/admin/phim">
                        <span class="icon">
                            <ion-icon name="videocam-outline"></ion-icon>
                        </span>
                        <span class="title">Phim</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8085/DynamicCinema/admin/suatChieu">
                        <span class="icon">
                            <ion-icon name="ticket-outline"></ion-icon>
                        </span>
                        <span class="title">Suất chiếu</span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:8085/DynamicCinema/admin/ngayChieu">
                        <span class="icon">
                            <ion-icon name="calendar-outline"></ion-icon>
                        </span>
                        <span class="title">Ngày chiếu</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8085/DynamicCinema/admin/ve">
                        <span class="icon">
                            <ion-icon name="film-outline"></ion-icon>
                        </span>
                        <span class="title">Vé</span>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:8085/DynamicCinema/admin/topping">
                        <span class="icon">
                            <ion-icon name="ice-cream-outline"></ion-icon>
                        </span>
                        <span class="title">Topping</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8085/DynamicCinema/admin/quanLyHoaDon">
                        <span class="icon">
                           <ion-icon name="reader-outline"></ion-icon>
                        </span>
                        <span class="title">Hóa đơn</span>
                    </a>
                </li>

                <li>
                    <a id="logoutBtn" class="btn btn__movie font__source" href="http://localhost:8085/DynamicCinema/index">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span ><a th:href="@{/security/logoff}">Đăng xuất</a></span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Tìm kiếm">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="../img/customer01.jpg" alt="">
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">15</div>
                        <div class="cardName">Phim đã chiếu</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">Suất chiếu</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">284</div>
                        <div class="cardName">Vé đã bán</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">7,842</div>
                        <div class="cardName">Doanh thu</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Thống kê</h2>
                        <!-- <a href="#" class="btn">View All</a> -->
                        <select class="btn" name="" id="">
                            <option selected>Theo ngày</option>
                            <option value="">Theo tháng</option>
                            <option value="">Theo năm</option>
                        </select>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Tên Khách Hàng</td>
                                <td>Số Điện Thoại</td>
                                <td>Tên Phim</td>
                                <td>Các Ghế Đã Mua</td>
                                <td>Doanh Thu</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr  ng-repeat="tk in items">
                                <td>{{tk.ten_kh}}</td>
                                <td>{{tk.sodt}}</td>
                                <td>{{tk.ten_phim}}</td>
                                <td>{{tk.cac_ghe_da_mua}}</td>
                                <td>{{tk.tong_tien}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
                <!-- <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Recent Customers</h2>
                    </div>

                    <table>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>India</span></h4>
                            </td>
                        </tr>
                    </table>
                </div> -->
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="/js/main.js"></script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>