USE [master]
GO
/****** Object:  Database [RapPhim]    Script Date: 12/2/2023 1:40:17 PM ******/
CREATE DATABASE [RapPhim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RapPhim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RapPhim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RapPhim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RapPhim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RapPhim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RapPhim]
GO
/****** Object:  Table [dbo].[chi_nhanh]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_nhanh](
	[ma_cn] [varchar](5) NOT NULL,
	[ten_cn] [nvarchar](150) NULL,
	[dia_chi] [nvarchar](500) NULL,
	[so_dt] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_cn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_ghe]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_ghe](
	[ma_ctghe] [int] NOT NULL,
	[ma_phong] [varchar](5) NULL,
	[ma_ghe] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_ctghe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_phim]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_phim](
	[ma_phim] [varchar](5) NOT NULL,
	[ma_the_loai] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phim] ASC,
	[ma_the_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_topping]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_topping](
	[IdVe] [int] NOT NULL,
	[MaTopping] [varchar](5) NOT NULL,
	[SoLuongMua] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVe] ASC,
	[MaTopping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chuc_vu]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chuc_vu](
	[ma_cv] [varchar](5) NOT NULL,
	[ten_cv] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_cv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[csvc]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csvc](
	[MaCSVC] [varchar](5) NOT NULL,
	[TenCSVC] [nvarchar](150) NULL,
	[Hinh] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCSVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ct_csvc]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ct_csvc](
	[MaCSVC] [varchar](5) NOT NULL,
	[MaPhong] [varchar](5) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCSVC] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ghe]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ghe](
	[ma_ghe] [varchar](5) NOT NULL,
	[ten_ghe] [varchar](5) NULL,
	[ma_loai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_ghe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[ma_kh] [int] IDENTITY(1,1) NOT NULL,
	[ten_kh] [nvarchar](150) NULL,
	[mat_khau] [varchar](10) NULL,
	[email] [varchar](30) NULL,
	[sodt] [varchar](10) NULL,
	[dia_chi] [nvarchar](500) NULL,
	[gioi_tinh] [bit] NULL,
	[id_FB] [nvarchar](150) NULL,
	[hinh_FB] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_kh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_lam_viec]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_lam_viec](
	[ID_LLV] [int] IDENTITY(1,1) NOT NULL,
	[NgayLam] [date] NULL,
	[ThoiGianBatDau] [time](7) NULL,
	[ThoiGianKetThuc] [time](7) NULL,
	[LuongCoBan] [float] NULL,
	[MaNV] [varchar](5) NULL,
	[MaCN] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_ghe]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_ghe](
	[ma_loai] [int] NOT NULL,
	[ten_loai] [nvarchar](150) NULL,
	[phu_thu] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ngay_chieu]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ngay_chieu](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[ngay] [date] NULL,
	[gio_bat_dau] [time](7) NULL,
	[ma_phim] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien](
	[ma_nv] [varchar](5) NOT NULL,
	[ho_ten] [nvarchar](150) NULL,
	[gioi_tinh] [int] NULL,
	[mat_khau] [varchar](10) NULL,
	[ngay_sinh] [date] NULL,
	[so_dt] [varchar](10) NULL,
	[ma_cv] [varchar](5) NULL,
	[email] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phim]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phim](
	[ma_phim] [varchar](5) NOT NULL,
	[ten_phim] [nvarchar](150) NULL,
	[dien_vien] [nvarchar](150) NULL,
	[namsx] [int] NULL,
	[hinh] [nvarchar](150) NULL,
	[dao_dien] [nvarchar](150) NULL,
	[quoc_gia] [nvarchar](150) NULL,
	[thoi_luong] [nvarchar](150) NULL,
	[mo_ta] [nvarchar](1550) NULL,
	[trailer] [nvarchar](150) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[ngay_khoi_chieu] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phong_chieu]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phong_chieu](
	[MaPhong] [varchar](5) NOT NULL,
	[TenPhong] [nvarchar](150) NULL,
	[MaCN] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tai_khoan]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tai_khoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[roles] [varchar](5) NULL,
	[ma_KH] [int] NULL,
	[ma_nv] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[the_loai]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[the_loai](
	[ma_the_loai] [varchar](5) NOT NULL,
	[ten_the_loai] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_the_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[topping]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topping](
	[ma_topping] [varchar](5) NOT NULL,
	[ten_topping] [nvarchar](150) NULL,
	[so_luong_dang_co] [int] NULL,
	[gia] [float] NULL,
	[hinh] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_topping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ve]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ve](
	[IdVe] [int] IDENTITY(1,1) NOT NULL,
	[TongGiaVe] [float] NULL,
	[ThueVAT] [float] NULL,
	[MaKH] [int] NULL,
	[MaCTGhe] [int] NULL,
	[Stt_XC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xuat_chieu]    Script Date: 12/2/2023 1:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xuat_chieu](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[gia_xuat_chieu] [float] NULL,
	[ma_ngay_chieu] [int] NULL,
	[ma_phong] [varchar](5) NULL,
	[ma_phim] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[chi_nhanh] ([ma_cn], [ten_cn], [dia_chi], [so_dt]) VALUES (N'CN1', N'DEC TP.HCM', N'645 Quang Trung, Phường 11, Gò Vấp, TP Hồ Chí Minh, Việt Nam', N'0123456789')
INSERT [dbo].[chi_nhanh] ([ma_cn], [ten_cn], [dia_chi], [so_dt]) VALUES (N'CN2', N'DEC Hà Nội', N'8 Đê La Thành, Giảng Võ, Ba Đình, Hà Nội, Việt Nam', N'0234567891')
INSERT [dbo].[chi_nhanh] ([ma_cn], [ten_cn], [dia_chi], [so_dt]) VALUES (N'CN3', N'DEC Cần Thơ', N'21 Đ.3 tháng 2, Xuân Khánh, Ninh Kiều, Cần Thơ, Việt Nam', N'0346517892')
GO
INSERT [dbo].[chi_tiet_ghe] ([ma_ctghe], [ma_phong], [ma_ghe]) VALUES (1, N'PC01', N'g1')
INSERT [dbo].[chi_tiet_ghe] ([ma_ctghe], [ma_phong], [ma_ghe]) VALUES (2, N'PC01', N'g2')
INSERT [dbo].[chi_tiet_ghe] ([ma_ctghe], [ma_phong], [ma_ghe]) VALUES (3, N'PC01', N'g3')
GO
INSERT [dbo].[chi_tiet_phim] ([ma_phim], [ma_the_loai]) VALUES (N'MP01', N'LP01')
INSERT [dbo].[chi_tiet_phim] ([ma_phim], [ma_the_loai]) VALUES (N'MP01', N'LP06')
INSERT [dbo].[chi_tiet_phim] ([ma_phim], [ma_the_loai]) VALUES (N'MP02', N'LP05')
GO
INSERT [dbo].[chuc_vu] ([ma_cv], [ten_cv]) VALUES (N'CV1', N'Quản trị')
INSERT [dbo].[chuc_vu] ([ma_cv], [ten_cv]) VALUES (N'CV2', N'Nhân viên quản lí vé')
INSERT [dbo].[chuc_vu] ([ma_cv], [ten_cv]) VALUES (N'CV3', N'Nhân viên quản lí phim')
GO
INSERT [dbo].[csvc] ([MaCSVC], [TenCSVC], [Hinh]) VALUES (N'VC1', N'Máy chiếu', N'vc1.png')
INSERT [dbo].[csvc] ([MaCSVC], [TenCSVC], [Hinh]) VALUES (N'VC2', N'Camera', N'vc2.png')
INSERT [dbo].[csvc] ([MaCSVC], [TenCSVC], [Hinh]) VALUES (N'VC3', N'Máy lạnh', N'vc3.png')
GO
INSERT [dbo].[ct_csvc] ([MaCSVC], [MaPhong], [SoLuong]) VALUES (N'VC1', N'PC01', 1)
INSERT [dbo].[ct_csvc] ([MaCSVC], [MaPhong], [SoLuong]) VALUES (N'VC1', N'PC02', 1)
INSERT [dbo].[ct_csvc] ([MaCSVC], [MaPhong], [SoLuong]) VALUES (N'VC1', N'PC03', 1)
GO
INSERT [dbo].[ghe] ([ma_ghe], [ten_ghe], [ma_loai]) VALUES (N'g1', N'A1', 1)
INSERT [dbo].[ghe] ([ma_ghe], [ten_ghe], [ma_loai]) VALUES (N'g10', N'A10', 3)
INSERT [dbo].[ghe] ([ma_ghe], [ten_ghe], [ma_loai]) VALUES (N'g100', N'J4', 1)
GO
SET IDENTITY_INSERT [dbo].[khach_hang] ON 

INSERT [dbo].[khach_hang] ([ma_kh], [ten_kh], [mat_khau], [email], [sodt], [dia_chi], [gioi_tinh], [id_FB], [hinh_FB]) VALUES (1, N'Nguyễn Thị Thư', N'12345678', N'thunt123@gmail.com', N'0875963214', N'Thuận An, Bình Dương', 0, NULL, NULL)
INSERT [dbo].[khach_hang] ([ma_kh], [ten_kh], [mat_khau], [email], [sodt], [dia_chi], [gioi_tinh], [id_FB], [hinh_FB]) VALUES (2, N'Lê Minh Hoàng', N'12345678', N'hoangle54@gmail.com', N'0320394978', N'Bình Lợi, TP HCM', 1, NULL, NULL)
INSERT [dbo].[khach_hang] ([ma_kh], [ten_kh], [mat_khau], [email], [sodt], [dia_chi], [gioi_tinh], [id_FB], [hinh_FB]) VALUES (3, N'Phan Huỳnh Tuấn Kiệt', N'12345678', N'kiett328@gmail.com', N'0908664177', N'Dĩ An, Bình Dương', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[khach_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[lich_lam_viec] ON 

INSERT [dbo].[lich_lam_viec] ([ID_LLV], [NgayLam], [ThoiGianBatDau], [ThoiGianKetThuc], [LuongCoBan], [MaNV], [MaCN]) VALUES (1, CAST(N'2023-10-02' AS Date), CAST(N'10:00:00' AS Time), CAST(N'18:00:00' AS Time), 25000, N'NV01', N'CN1')
INSERT [dbo].[lich_lam_viec] ([ID_LLV], [NgayLam], [ThoiGianBatDau], [ThoiGianKetThuc], [LuongCoBan], [MaNV], [MaCN]) VALUES (2, CAST(N'2023-10-02' AS Date), CAST(N'10:00:00' AS Time), CAST(N'18:00:00' AS Time), 25000, N'NV02', N'CN1')
INSERT [dbo].[lich_lam_viec] ([ID_LLV], [NgayLam], [ThoiGianBatDau], [ThoiGianKetThuc], [LuongCoBan], [MaNV], [MaCN]) VALUES (3, CAST(N'2023-10-02' AS Date), CAST(N'10:00:00' AS Time), CAST(N'18:00:00' AS Time), 25000, N'NV03', N'CN1')
SET IDENTITY_INSERT [dbo].[lich_lam_viec] OFF
GO
INSERT [dbo].[loai_ghe] ([ma_loai], [ten_loai], [phu_thu]) VALUES (1, N'Thường', 45000)
INSERT [dbo].[loai_ghe] ([ma_loai], [ten_loai], [phu_thu]) VALUES (2, N'Đôi', 60000)
INSERT [dbo].[loai_ghe] ([ma_loai], [ten_loai], [phu_thu]) VALUES (3, N'Vip', 75000)
GO
SET IDENTITY_INSERT [dbo].[ngay_chieu] ON 

INSERT [dbo].[ngay_chieu] ([stt], [ngay], [gio_bat_dau], [ma_phim]) VALUES (1, CAST(N'2023-10-12' AS Date), CAST(N'13:00:00' AS Time), N'MP04')
INSERT [dbo].[ngay_chieu] ([stt], [ngay], [gio_bat_dau], [ma_phim]) VALUES (2, CAST(N'2023-10-12' AS Date), CAST(N'14:00:00' AS Time), N'MP01')
INSERT [dbo].[ngay_chieu] ([stt], [ngay], [gio_bat_dau], [ma_phim]) VALUES (3, CAST(N'2023-10-12' AS Date), CAST(N'15:00:00' AS Time), N'MP01')
SET IDENTITY_INSERT [dbo].[ngay_chieu] OFF
GO
INSERT [dbo].[nhan_vien] ([ma_nv], [ho_ten], [gioi_tinh], [mat_khau], [ngay_sinh], [so_dt], [ma_cv], [email]) VALUES (N'NV01', N'Nguyễn Xuân Cường', 1, N'123', CAST(N'2003-01-01' AS Date), N'0123456778', N'CV1', N'xuancuong11@gmail.com')
INSERT [dbo].[nhan_vien] ([ma_nv], [ho_ten], [gioi_tinh], [mat_khau], [ngay_sinh], [so_dt], [ma_cv], [email]) VALUES (N'NV02', N'Phan Huỳnh Tuấn Kiệt', 1, N'123', CAST(N'2002-01-01' AS Date), N'0169912464', N'CV1', N'kiett328@gmail.com')
INSERT [dbo].[nhan_vien] ([ma_nv], [ho_ten], [gioi_tinh], [mat_khau], [ngay_sinh], [so_dt], [ma_cv], [email]) VALUES (N'NV03', N'Nguyễn Văn Khánh', 1, N'123', CAST(N'2003-01-01' AS Date), N'0245613789', N'CV2', NULL)
GO
INSERT [dbo].[phong_chieu] ([MaPhong], [TenPhong], [MaCN]) VALUES (N'PC01', N'Phòng 1', N'CN1')
INSERT [dbo].[phong_chieu] ([MaPhong], [TenPhong], [MaCN]) VALUES (N'PC02', N'Phòng 2', N'CN1')
INSERT [dbo].[phong_chieu] ([MaPhong], [TenPhong], [MaCN]) VALUES (N'PC03', N'Phòng 3', N'CN1')
GO
SET IDENTITY_INSERT [dbo].[tai_khoan] ON 

INSERT [dbo].[tai_khoan] ([id], [username], [password], [roles], [ma_KH], [ma_nv]) VALUES (1, N'kietpht', N'1234', N'CV7', 3, NULL)
INSERT [dbo].[tai_khoan] ([id], [username], [password], [roles], [ma_KH], [ma_nv]) VALUES (2, N'xuancuong', N'112233', N'CV1', NULL, N'NV01')
SET IDENTITY_INSERT [dbo].[tai_khoan] OFF
GO
INSERT [dbo].[the_loai] ([ma_the_loai], [ten_the_loai]) VALUES (N'LP01', N'Hành động')
INSERT [dbo].[the_loai] ([ma_the_loai], [ten_the_loai]) VALUES (N'LP02', N'Hài')
INSERT [dbo].[the_loai] ([ma_the_loai], [ten_the_loai]) VALUES (N'LP03', N'Hoạt hình')
GO
INSERT [dbo].[topping] ([ma_topping], [ten_topping], [so_luong_dang_co], [gia], [hinh]) VALUES (N'TP01', N'Bắp rang bơ', 20, 60000, N'tp01.jpg')
INSERT [dbo].[topping] ([ma_topping], [ten_topping], [so_luong_dang_co], [gia], [hinh]) VALUES (N'TP02', N'Coca Cola', 50, 39000, N'tp02.jpg')
INSERT [dbo].[topping] ([ma_topping], [ten_topping], [so_luong_dang_co], [gia], [hinh]) VALUES (N'TP03', N'Sting', 70, 39000, N'tp03.jpg')
GO
SET IDENTITY_INSERT [dbo].[xuat_chieu] ON 

INSERT [dbo].[xuat_chieu] ([stt], [gia_xuat_chieu], [ma_ngay_chieu], [ma_phong], [ma_phim]) VALUES (1, 55000, 1, N'PC01', N'MP01')
INSERT [dbo].[xuat_chieu] ([stt], [gia_xuat_chieu], [ma_ngay_chieu], [ma_phong], [ma_phim]) VALUES (2, 80000, 2, N'PC02', N'MP02')
INSERT [dbo].[xuat_chieu] ([stt], [gia_xuat_chieu], [ma_ngay_chieu], [ma_phong], [ma_phim]) VALUES (3, 65000, 3, N'PC03', N'MP03')
SET IDENTITY_INSERT [dbo].[xuat_chieu] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A9D1053472F57581]    Script Date: 12/2/2023 1:40:17 PM ******/
ALTER TABLE [dbo].[khach_hang] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chi_tiet_ghe]  WITH CHECK ADD  CONSTRAINT [fk_ctghe_ghe] FOREIGN KEY([ma_ghe])
REFERENCES [dbo].[ghe] ([ma_ghe])
GO
ALTER TABLE [dbo].[chi_tiet_ghe] CHECK CONSTRAINT [fk_ctghe_ghe]
GO
ALTER TABLE [dbo].[chi_tiet_ghe]  WITH CHECK ADD  CONSTRAINT [fk_ctghe_phong] FOREIGN KEY([ma_phong])
REFERENCES [dbo].[phong_chieu] ([MaPhong])
GO
ALTER TABLE [dbo].[chi_tiet_ghe] CHECK CONSTRAINT [fk_ctghe_phong]
GO
ALTER TABLE [dbo].[chi_tiet_phim]  WITH CHECK ADD  CONSTRAINT [fk_ctphim_phim] FOREIGN KEY([ma_phim])
REFERENCES [dbo].[phim] ([ma_phim])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chi_tiet_phim] CHECK CONSTRAINT [fk_ctphim_phim]
GO
ALTER TABLE [dbo].[chi_tiet_phim]  WITH CHECK ADD  CONSTRAINT [fk_ctphim_theloai] FOREIGN KEY([ma_the_loai])
REFERENCES [dbo].[the_loai] ([ma_the_loai])
GO
ALTER TABLE [dbo].[chi_tiet_phim] CHECK CONSTRAINT [fk_ctphim_theloai]
GO
ALTER TABLE [dbo].[chi_tiet_topping]  WITH CHECK ADD  CONSTRAINT [fk_ctTopping_Topping] FOREIGN KEY([MaTopping])
REFERENCES [dbo].[topping] ([ma_topping])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chi_tiet_topping] CHECK CONSTRAINT [fk_ctTopping_Topping]
GO
ALTER TABLE [dbo].[chi_tiet_topping]  WITH CHECK ADD  CONSTRAINT [fk_ctTopping_Ve] FOREIGN KEY([IdVe])
REFERENCES [dbo].[ve] ([IdVe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chi_tiet_topping] CHECK CONSTRAINT [fk_ctTopping_Ve]
GO
ALTER TABLE [dbo].[ct_csvc]  WITH CHECK ADD  CONSTRAINT [fk_ctcsvc_csvc] FOREIGN KEY([MaCSVC])
REFERENCES [dbo].[csvc] ([MaCSVC])
GO
ALTER TABLE [dbo].[ct_csvc] CHECK CONSTRAINT [fk_ctcsvc_csvc]
GO
ALTER TABLE [dbo].[ct_csvc]  WITH CHECK ADD  CONSTRAINT [fk_ctcsvc_phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[phong_chieu] ([MaPhong])
GO
ALTER TABLE [dbo].[ct_csvc] CHECK CONSTRAINT [fk_ctcsvc_phong]
GO
ALTER TABLE [dbo].[ghe]  WITH CHECK ADD  CONSTRAINT [fk_ghe_loaighe] FOREIGN KEY([ma_loai])
REFERENCES [dbo].[loai_ghe] ([ma_loai])
GO
ALTER TABLE [dbo].[ghe] CHECK CONSTRAINT [fk_ghe_loaighe]
GO
ALTER TABLE [dbo].[lich_lam_viec]  WITH CHECK ADD  CONSTRAINT [fk_llv_cn] FOREIGN KEY([MaCN])
REFERENCES [dbo].[chi_nhanh] ([ma_cn])
GO
ALTER TABLE [dbo].[lich_lam_viec] CHECK CONSTRAINT [fk_llv_cn]
GO
ALTER TABLE [dbo].[lich_lam_viec]  WITH CHECK ADD  CONSTRAINT [fk_llv_nv] FOREIGN KEY([MaNV])
REFERENCES [dbo].[nhan_vien] ([ma_nv])
GO
ALTER TABLE [dbo].[lich_lam_viec] CHECK CONSTRAINT [fk_llv_nv]
GO
ALTER TABLE [dbo].[ngay_chieu]  WITH CHECK ADD  CONSTRAINT [fk_ngaychieu_phim] FOREIGN KEY([ma_phim])
REFERENCES [dbo].[phim] ([ma_phim])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ngay_chieu] CHECK CONSTRAINT [fk_ngaychieu_phim]
GO
ALTER TABLE [dbo].[nhan_vien]  WITH CHECK ADD  CONSTRAINT [fk_nv_cv] FOREIGN KEY([ma_cv])
REFERENCES [dbo].[chuc_vu] ([ma_cv])
GO
ALTER TABLE [dbo].[nhan_vien] CHECK CONSTRAINT [fk_nv_cv]
GO
ALTER TABLE [dbo].[phong_chieu]  WITH CHECK ADD  CONSTRAINT [fk_pc_cn] FOREIGN KEY([MaCN])
REFERENCES [dbo].[chi_nhanh] ([ma_cn])
GO
ALTER TABLE [dbo].[phong_chieu] CHECK CONSTRAINT [fk_pc_cn]
GO
ALTER TABLE [dbo].[tai_khoan]  WITH CHECK ADD FOREIGN KEY([ma_KH])
REFERENCES [dbo].[khach_hang] ([ma_kh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tai_khoan]  WITH CHECK ADD FOREIGN KEY([ma_nv])
REFERENCES [dbo].[nhan_vien] ([ma_nv])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tai_khoan]  WITH CHECK ADD FOREIGN KEY([roles])
REFERENCES [dbo].[chuc_vu] ([ma_cv])
GO
ALTER TABLE [dbo].[ve]  WITH CHECK ADD  CONSTRAINT [fk_ve_ctghe] FOREIGN KEY([MaCTGhe])
REFERENCES [dbo].[chi_tiet_ghe] ([ma_ctghe])
GO
ALTER TABLE [dbo].[ve] CHECK CONSTRAINT [fk_ve_ctghe]
GO
ALTER TABLE [dbo].[ve]  WITH CHECK ADD  CONSTRAINT [fk_ve_khachhang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[khach_hang] ([ma_kh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ve] CHECK CONSTRAINT [fk_ve_khachhang]
GO
ALTER TABLE [dbo].[xuat_chieu]  WITH CHECK ADD FOREIGN KEY([ma_ngay_chieu])
REFERENCES [dbo].[ngay_chieu] ([stt])
GO
ALTER TABLE [dbo].[xuat_chieu]  WITH CHECK ADD  CONSTRAINT [fk_xuatchieu_phim] FOREIGN KEY([ma_phim])
REFERENCES [dbo].[phim] ([ma_phim])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[xuat_chieu] CHECK CONSTRAINT [fk_xuatchieu_phim]
GO
ALTER TABLE [dbo].[xuat_chieu]  WITH CHECK ADD  CONSTRAINT [fk_xuatchieu_phong] FOREIGN KEY([ma_phong])
REFERENCES [dbo].[phong_chieu] ([MaPhong])
GO
ALTER TABLE [dbo].[xuat_chieu] CHECK CONSTRAINT [fk_xuatchieu_phong]
GO
USE [master]
GO
