<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Style CSS  -->
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/style__header.css"/>
    <link rel="stylesheet" href="../css/style__navigation.css">
    <link rel="stylesheet" href="../css/style__account-information.css">
    <link rel="stylesheet" href="../css/style__footer.css">
    <!-- Style CSS  -->
    <!-- Font Chữ Web Phim Movie  -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.cdnfonts.com/css/source-sans-pro" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap"
            rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../js/chiNhanh.js"></script>
    <title>Mua vé xem phim</title>
</head>

<body ng-app="">
<!-- Header  -->
<div class="container header">
    <div class="row">
        <!-- logo  -->
        <div class="col-lg-3 col-md-6 col-12 header__logo">
            <img src="../img/logo/Logo_Web.png" alt=""/>
        </div>
        <!-- Option  -->
        <div class="col-lg-5 col-md-6 col-12 header__search">
            <!-- Example single danger button -->
            <div class="btn-group font__source">
                <button onclick="loadData()" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">Tỉnh/Thành Phố
                </button>
                <ul id="myList" class="dropdown-menu" onclick="showHTML(event)">
                    <!--                    <li><a class="dropdown-item" href="#">DEC TP.HCM</a></li>-->
                    <!--                    <li><a class="dropdown-item" href="#">DEC HÀ NỘI</a></li>-->
                    <!--                    <li><a class="dropdown-item" href="#">DEC ĐÀ NẴNG</a></li>-->
                    <!--                    <li><a class="dropdown-item" href="#">DEC BẮC GIANG</a></li>-->
                    <!--                    <li><a class="dropdown-item" href="#">DEC KHÁNH HÒA</a></li>-->
                </ul>
            </div>
        </div>
        <!-- Đăng Nhập đăng Ký  -->
        <div class="col-lg-2 col-md-6 col-sm-6 text-start header__login justify-content-end">
            <th:block th:unless="${#request.remoteUser}">
                <a id="loginToggleBtn" class="btn btn__movie font__source"
                   th:href="@{/security/login/form}"
                   role="button">Đăng Nhập | Đăng Ký</a>
            </th:block>
            <th:block th:if="${#request.remoteUser}">
                <span>Xin chào, <span th:text="${#request.userPrincipal.name}"></span>!</span>
                <a id="historyBtn" class="btn btn__movie font__source" th:href="@{/order/list}">Lịch Sử Đặt Vé</a>
                <a id="logoutBtn" class="btn btn__movie font__source" th:href="@{/security/logoff}">Đăng Xuất</a>
                <li class="nav-item" th:if="${#request.isUserInRole('DIRE')}"><a class="nav-link"
                                                                                 th:href="@{/admin/home/index}">Admin</a>
                </li>
            </th:block>
        </div>
        <!-- Dịch tiếng việt tiếng anh  -->
        <div class="col-lg-2 col-md-6 col-sm-6 header__language font justify-content-start p-0">
            <a href=""><img src="../img/logo/language__logo.png" alt=""></a>
        </div>
    </div>
</div>
<!-- Navigatione Menu START -->
<nav class=" navbar navbar-expand-lg navbar-light navigation">
    <div class="container navigation__menu">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mb-2" id="navbarSupportedContent">
            <ul class="d-flex justify-content-center navbar-nav nav nav-pills" id="pills-tab" role="tablist"
                style="width: 100%;">
                <li class="nav-item ms-3 font__oswald" role="presentation">
                    <a style="text-decoration: none" href="http://localhost:8085/DynamicCinema/index">
                        <button class="nav-link btn__nvgt active" id="pills-buyVe-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-buyVe" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">
                            LỊCH CHIẾU THEO RẠP
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/movies">
                        <button class="nav-link btn__nvgt" id="pills-movie-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-movie" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">
                            PHIM
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/cinemaCorner">
                        <button class="nav-link btn__nvgt" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false">GÓC ĐIỆN ẢNH
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/event">
                        <button class="nav-link btn__nvgt" id="pills-suKien-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-suKien" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">SỰ KIỆN
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/priceTicket">
                        <button class="nav-link btn__nvgt" id="pills-rap-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-rap" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">
                            RẠP/GIÁ VÉ
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/support">
                        <button class="nav-link btn__nvgt" id="pills-support-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-support" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">HỖ TRỢ
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/member">
                        <button class="nav-link btn__nvgt" id="pills-thanhvien-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-thanhvien" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">THÀNH VIÊN
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navigatione Menu END -->

<!-- =========================account_information START ====================================== -->
<div class="account-information">
    <div class="container">
        <h4 class="account-information__title text-center mt-5">THÔNG TIN TÀI KHOẢN</h4>
        <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <div class="file-upload row">
            <div class="col-6">
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*"/>
                    <div class="drag-text">
                        <h3>IMG AVATAR</h3>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image"/>
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove
                            <span class="image-title"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <button class="file-upload-btn" type="button"
                        onclick="$('.file-upload-input').trigger( 'click' )">TẢI ẢNH LÊN
                </button>
                <button type="button" class="btn btn-info mt-2" style="width: 256px;">LƯU ẢNH</button>
            </div>
        </div>
        <div class="row information ">
            <div class="col-6">
                <p class="mb-1"><span class="text-danger">*</span> Họ tên</p>
                <input type="text" placeholder="Ho Thanh Kiet">
            </div>
            <div class="col-6">
                <p class="mb-1"><span class="text-danger">*</span> Email</p>
                <input type="text" placeholder="kiethtps22319@fpt.edu.vn">
            </div>
            <div class="col-6">
                <p class="mb-1"><span class="text-danger">*</span> Số điện thoại</p>
                <input type="phone" placeholder="0833338817">
            </div>
            <div class="col-6">
                <p class="mb-1"><span class="text-danger">*</span> Giới tính</p>
                <input type="text" placeholder="Nam">
            </div>
            <div class="col-6">
                <p class="mb-1"><span class="text-danger">*</span> Ngày sinh</p>
                <input type="date" placeholder="22/03/2003">
            </div>
            <div class="col-6">
                <p class="mb-1"><span class="text-danger">*</span> Tỉnh/Thành phố</p>
                <input type="text" placeholder="Thành phố Hồ Chí Minh">
            </div>
            <div class="col-12">
                <p class="mb-1"><span class="text-danger">*</span> Địa chỉ</p>
                <textarea name="address" id="" cols="165" rows="5"></textarea>
            </div>
            <a class="information__text mt-2" href="#">Quên mật khẩu?</a>
            <div class="col-12 text-center">
                <button class="information__btn">CẬP NHẬT</button>
            </div>
        </div>
    </div>
</div>
<!-- =========================account_information END ====================================== -->


<!-- Footer  -->
<footer class="" style="background: #F6F6F6;">
    <div class="container footer">
        <div class="row  font__source">
            <div class="footer__logo col-lg-4 col-md-6 col-12">
                <img src="../img/logo/footer__logo.png" alt="">
                <div class="footer--menu">
                    <ul class="mt-3">
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Tuyển dụng
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Giới thiệu
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Liên hệ
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Điều khoản sử dụng
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Liên hệ quảng cáo
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Điều khoản bảo mật
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__list-Address col-lg-4 col-md-6 col-12">
                <div class="footer__title align-content-center">
                    <h3>ĐỊA CHỈ RẠP PHIM TOÀN QUỐC</h3>
                </div>
                <div class="footer--menu mt-3">
                    <ul>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Dynamic Energy Cinemas TP. HCM

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Dynamic Energy Cinemas Hà Nội

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Dynamic Energy Cinemas Đà Nẵng

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Dynamic Energy Cinemas Bắc Giang

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Dynamic Energy Cinemas Khánh Hòa

                        </a></li>
                        <!-- <li><a href="#">Điều khoản bảo mật</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="footer__list-Address col-lg-4 col-md-6 col-12">
                <div class="footer__title">
                    <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
                </div>
                <div class="footer__connection mt-3 ms-2">
                    <a href=""><img src="../img/logo/logo_fb.png" alt=""></a>
                    <a class="ms-3" href=""><img src="../img/logo/iconYTB.png" alt=""></a>
                </div>
                <div class="mt-3">
                    <img src="../img/logo/boCongThuong.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="../js/upload_img.js"></script>

<!-- Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>