<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style CSS  -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Style CSS  -->
    <link rel="stylesheet" href="../css/style__header.css"/>
    <!-- Style CSS  -->
    <link rel="stylesheet" href="../css/style__navigation.css">
    <!-- Style CSS  -->
    <link rel="stylesheet" href="../css/style__cardItem.css">
    <!-- Style CSS  -->
    <link rel="stylesheet" href="../css/style__footer.css">
    <!-- Font Chữ Web Phim Movie  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap"
            rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS font-awesome  -->
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../js/loadMovieByStatus.js"></script>
    <script src="../js/chiNhanh.js"></script>
    <title>Phim</title>
</head>
<body>
<!-- Header  -->
<div class="container header">
    <div class="row">
        <!-- logo  -->
        <div class="col-lg-3 col-md-6 col-12 header__logo">
            <img src="../img/logo/Logo_Web.png" alt=""/>
        </div>
        <!-- Option  -->
        <div class="col-lg-5 col-md-6 col-12 header__search">
            <!-- Example single danger button -->
            <div class="btn-group font__source">
                <button onclick="loadData()" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false"  >Tỉnh/Thành Phố
                </button>
                <ul id="myList" class="dropdown-menu" onclick="showHTML(event)">
                    <!--                    <li><a class="dropdown-item" href="#">DEC TP.HCM</a></li>-->
                    <!--                    <li><a class="dropdown-item" href="#">DEC HÀ NỘI</a></li>-->
                    <!--                    <li><a class="dropdown-item" href="#">DEC ĐÀ NẴNG</a></li>-->
                    <!--                    <li><a class="dropdown-item" href="#">DEC BẮC GIANG</a></li>-->
                    <!--                    <li><a class="dropdown-item" href="#">DEC KHÁNH HÒA</a></li>-->
                </ul>
            </div>
        </div>
        <!-- Đăng Nhập đăng Ký  -->
        <div class="col-lg-2 col-md-6 col-sm-6 text-start header__login justify-content-end">
            <th:block th:unless="${#request.remoteUser}">
                <a id="loginToggleBtn" class="btn btn__movie font__source"
                   th:href="@{/security/login/form}"
                   role="button">Đăng Nhập | Đăng Ký</a>
            </th:block>
            <th:block th:if="${#request.remoteUser}">
                <span style="font-size: 15px">Xin chào, <span style="font-weight: bold" th:text="${hoTen}"></span>!</span>
                <!--                <a id="historyBtn" class="btn btn__movie font__source" th:href="@{/order/list}">Lịch Sử Đặt Vé</a>-->
                <a id="logoutBtn" class="btn btn__movie font__source" th:href="@{/security/logoff}" role="button" style="font-size: 15px">Đăng Xuất</a>
                <li class="nav-item" th:if="${#request.isUserInRole('DIRE')}"><a class="nav-link"
                                                                                 th:href="@{/DynamicCinema/admin/index}" style="font-size: 15px">Admin</a>
                </li>
            </th:block>
        </div>
        <!-- Dịch tiếng việt tiếng anh  -->
        <div class="col-lg-2 col-md-6 col-sm-6 header__language font justify-content-start p-0">
            <a href=""><img src="../img/logo/language__logo.png" alt=""></a>
        </div>
    </div>
</div>
<!-- Navigatione Menu  -->
<nav class=" navbar navbar-expand-lg navbar-light navigation">
    <div class="container navigation__menu">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mb-2" id="navbarSupportedContent">
            <ul class="d-flex justify-content-center navbar-nav nav nav-pills" id="pills-tab" role="tablist"
                style="width: 100%;">
                <li class="nav-item ms-3 font__oswald" role="presentation">
                    <a style="text-decoration: none" href="http://localhost:8085/DynamicCinema/index">
                        <button class="nav-link btn__nvgt active" id="pills-buyVe-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-buyVe" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">
                            LỊCH CHIẾU THEO RẠP
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/movies">
                        <button class="nav-link btn__nvgt" id="pills-movie-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-movie" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">
                            PHIM
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/cinemaCorner">
                        <button class="nav-link btn__nvgt" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false">GÓC ĐIỆN ẢNH
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/event">
                        <button class="nav-link btn__nvgt" id="pills-suKien-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-suKien" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">SỰ KIỆN
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/priceTicket">
                        <button class="nav-link btn__nvgt" id="pills-rap-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-rap" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">
                            RẠP/GIÁ VÉ
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/support">
                        <button class="nav-link btn__nvgt" id="pills-support-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-support" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">HỖ TRỢ
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/member">
                        <button class="nav-link btn__nvgt" id="pills-thanhvien-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-thanhvien" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">THÀNH VIÊN
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Card item movie  -->
<div class="tab-content" id="pills-tabContent">
    <!-- Lịch Chiếu Theo Rạp  -->
    <div class="container">
        <ul class="nav nav-tabs d-flex justify-content-center font__oswald" id="myTab" role="tablist"
            style="margin: 12px 0; font-size: 18px; border-bottom: 2px solid #0000003b; border-bottom: 0px solid white;">
            <li class="nav-item" role="presentation">
                <a style="text-decoration: none;list-style-type: none" href="#dangchieu">
                    <button class="nav-link btn__navMovie active" id="dangchieu-tab" data-bs-toggle="tab"
                            data-bs-target="#dangchieu" type="button" role="tab" aria-controls="dangchieu"
                            aria-selected="true" style="color: black;">PHIM ĐANG CHIẾU
                    </button>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a style="text-decoration: none;list-style-type: none" href="#sapchieu">
                    <button class="nav-link btn__navMovie" id="sapchieu-tab" data-bs-toggle="tab"
                            data-bs-target="#sapchieu" type="button" role="tab" aria-controls="sapchieu"
                            aria-selected="false" style="color: black;">PHIM SẮP CHIẾU
                    </button>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a style="text-decoration: none;list-style-type: none" href="#suatchieudacbiet">
                    <button class="nav-link btn__navMovie" id="suatchieudacbiet-tab" data-bs-toggle="tab"
                            data-bs-target="#suatchieudacbiet" type="button" role="tab"
                            aria-controls="suatchieudacbiet"
                            aria-selected="false" style="color: black;">SUẤT CHIẾU
                        ĐẶC BIỆT
                    </button>
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="container mt-3" id="phimContainer">
                <div class="row" id="phimList">
                    <!-- PHIM ĐANG CHIẾU  -->
                    <div class="tab-pane fade show active" id="dangchieu" role="tabpanel"
                         aria-labelledby="dangchieu-tab">
                    </div>
                    <!-- PHIM SẮP CHIẾU  -->
                    <div class="tab-pane fade" id="sapchieu" role="tabpanel" aria-labelledby="sapchieu-tab">
                        <div class="container mt-3">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                    <!-- Suất Chiếu Đặc Biệt  -->
                    <div class="tab-pane fade" id="suatchieudacbiet" role="tabpanel"
                         aria-labelledby="suatchieudacbiet-tab">
                        <div class="container mt-3">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ITEAM MOVIE  -->
    </div>

</div>
<!-- LỊCH CHIẾU THEO RẠP END  -->


<div class="tab-pane fade" id="pills-movie" role="tabpanel" aria-labelledby="pills-movie-tab">
    <div class="container mt-3">
        <div class="row">
            <!--
                    <div class="col-lg-3 col-md-6 col-12 item__movie mb-5">
                    <div class="d-flex justify-content-center">
                    <img class="mt-2" src="../img/phim/cuMayAnTien.png" alt="" width="227px" height="360px">
                </div>
                <div class="information mt-3">
                    <h3 class="font__oswald ms-5" style="color: #337AB7;">Cú Máy
                        Ăn Tiền</h3>
                    <p class="font__source ms-5">
                        Thể loại: Tâm lý, hài hước <br> Thời lượng: 132 phút <br>
                        Ngày khởi chiếu: 13/10/2023
                    </p>
                </div>
                </div>
                -->
        </div>
        <!-- ITEAM MOVIE  -->
    </div>

</div>
<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <h2>Góc Điện Ảnh</h2>
</div>
<div class="tab-pane fade" id="pills-suKien" role="tabpanel" aria-labelledby="pills-suKien-tab">
    <h2>Sự Kiện</h2>
</div>
<div class="tab-pane fade" id="pills-rap" role="tabpanel" aria-labelledby="pills-rap-tab">
    <h2>Rạp/Giá Vé</h2>
</div>
<div class="tab-pane fade" id="pills-support" role="tabpanel" aria-labelledby="pills-support-tab">
    <h2>Hỗ Trợ</h2>
</div>
<div class="tab-pane fade" id="pills-thanhvien" role="tabpanel" aria-labelledby="pills-thanhvien-tab">
    <h2>Thành Viên</h2>
</div>
</div>
<!-- Footer  -->
<!-- Footer  -->
<footer class="">
    <div class="container footer">
        <div class="row  font__source">
            <div class="footer__logo col-lg-4 col-md-6 col-12">
                <img src="../img/logo/footer__logo.png" alt="">
                <div class="footer--menu">
                    <ul class="mt-3">
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Tuyển dụng
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Giới thiệu
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Liên hệ
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Điều khoản sử dụng
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Liên hệ quảng cáo
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Điều khoản bảo mật
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__list-Address col-lg-4 col-md-6 col-12">
                <div class="footer__title align-content-center">
                    <h3>ĐỊA CHỈ RẠP PHIM TOÀN QUỐC</h3>
                </div>
                <div class="footer--menu mt-3">
                    <ul>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Dynamic Energy Cinemas TP. HCM

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Dynamic Energy Cinemas Hà Nội

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Dynamic Energy Cinemas Đà Nẵng

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Dynamic Energy Cinemas Bắc Giang

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Dynamic Energy Cinemas Khánh Hòa

                        </a></li>
                        <!-- <li><a href="#">Điều khoản bảo mật</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="footer__list-Address col-lg-4 col-md-6 col-12">
                <div class="footer__title">
                    <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
                </div>
                <div class="footer__connection mt-3 ms-2">
                    <a href=""><i class="fab fa-telegram fa-2x" style="color: #04d2fb;"></i></a>
                    <a class="ms-3" href=""><i class="fab fa-youtube fa-2x" style="color: #ff2600;"></i></a>
                    <a class="ms-3" href=""><i class="fab fa-instagram fa-2x" style="color: #ff0ab1;"></i></a>
                    <a class="ms-3" href=""><i class="fab fa-twitter-square fa-2x" style="color: #24a0ff;"></i></a>
                    <a class="ms-3" href=""><i class="fab fa-facebook-f fa-2x" style="color: #4766ff;"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>