<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Style CSS  -->
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/style__header.css"/>
    <link rel="stylesheet" href="../css/style__navigation.css">
    <link rel="stylesheet" href="../css/style__support.css">
    <link rel="stylesheet" href="../css/style__footer.css">
    <!-- Style CSS  -->
    <!-- Font Chữ Web Phim Movie  -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.cdnfonts.com/css/source-sans-pro" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap"
            rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../js/chiNhanh.js"></script>
    <title>Mua vé xem phim</title>
</head>

<body ng-app="">
<!-- Header  -->
<div class="container header">
    <div class="row">
        <!-- logo  -->
        <div class="col-lg-3 col-md-6 col-12 header__logo">
            <img src="../img/logo/Logo_Web.png" alt=""/>
        </div>
        <!-- Option  -->
        <div class="col-lg-5 col-md-6 col-12 header__search">
            <!-- Example single danger button -->
            <div class="btn-group font__source">
                <button onclick="loadData()" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">Tỉnh/Thành Phố
                </button>
                <ul id="myList" class="dropdown-menu" onclick="showHTML(event)">
                    <!--                    <li><a class="dropdown-item" href="#">DEC TP.HCM</a></li>-->
                    <!--                    <li><a class="dropdown-item" href="#">DEC HÀ NỘI</a></li>-->
                    <!--                    <li><a class="dropdown-item" href="#">DEC ĐÀ NẴNG</a></li>-->
                    <!--                    <li><a class="dropdown-item" href="#">DEC BẮC GIANG</a></li>-->
                    <!--                    <li><a class="dropdown-item" href="#">DEC KHÁNH HÒA</a></li>-->
                </ul>
            </div>
        </div>
        <!-- Đăng Nhập đăng Ký  -->
        <div class="col-lg-2 col-md-6 col-sm-6 text-start header__login justify-content-end">
            <th:block th:unless="${#request.remoteUser}">
                <a id="loginToggleBtn" class="btn btn__movie font__source"
                   th:href="@{/security/login/form}"
                   role="button">Đăng Nhập | Đăng Ký</a>
            </th:block>
            <th:block th:if="${#request.remoteUser}">
                <span>Xin chào, <span th:text="${hoTen}"></span>!</span>
                <!--                <a id="historyBtn" class="btn btn__movie font__source" th:href="@{/order/list}">Lịch Sử Đặt Vé</a>-->
                <a id="logoutBtn" class="btn btn__movie font__source" th:href="@{/security/logoff}" role="button">Đăng
                    Xuất</a>
                <li class="nav-item" th:if="${#request.isUserInRole('DIRE')}"><a class="nav-link"
                                                                                 th:href="@{/DynamicCinema/admin/index}">Admin</a>
                </li>
            </th:block>
        </div>
        <!-- Dịch tiếng việt tiếng anh  -->
        <div class="col-lg-2 col-md-6 col-sm-6 header__language font justify-content-start p-0">
            <a href=""><img src="../img/logo/language__logo.png" alt=""></a>
        </div>
    </div>
</div>
<!-- Navigatione Menu START -->
<nav class=" navbar navbar-expand-lg navbar-light navigation">
    <div class="container navigation__menu">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mb-2" id="navbarSupportedContent">
            <ul class="d-flex justify-content-center navbar-nav nav nav-pills" id="pills-tab" role="tablist"
                style="width: 100%;">
                <li class="nav-item ms-3 font__oswald" role="presentation">
                    <a style="text-decoration: none" href="http://localhost:8085/DynamicCinema/index">
                        <button class="nav-link btn__nvgt active" id="pills-buyVe-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-buyVe" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">
                            LỊCH CHIẾU THEO RẠP
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/movies">
                        <button class="nav-link btn__nvgt" id="pills-movie-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-movie" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">
                            PHIM
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/cinemaCorner">
                        <button class="nav-link btn__nvgt" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false">GÓC ĐIỆN ẢNH
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/event">
                        <button class="nav-link btn__nvgt" id="pills-suKien-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-suKien" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">SỰ KIỆN
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/priceTicket">
                        <button class="nav-link btn__nvgt" id="pills-rap-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-rap" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">
                            RẠP/GIÁ VÉ
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/support">
                        <button class="nav-link btn__nvgt" id="pills-support-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-support" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">HỖ TRỢ
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/member">
                        <button class="nav-link btn__nvgt" id="pills-thanhvien-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-thanhvien" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">THÀNH VIÊN
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navigatione Menu END -->

<!-- SUPPORT STAR  -->
<div class="support container">
    <h4 class="support__title text-center mt-5">Hỗ trợ</h4>
    <!-- SUPPORT LIST START  -->
    <div class="support-list mb-5 mt-5">
        <div class="support-list__item row align-items-center mt-2">
            <div class="col-1 text-center   ">
                <span class="support-list__item--text">01</span>
            </div>
            <div class="col-11">
                <span class="support-list__item--text">Làm thế nào để mua vé online?</span>
            </div>
        </div>
        <div class="support-list__item row align-items-center mt-2">
            <div class="col-1 text-center   ">
                <span class="support-list__item--text">02</span>
            </div>
            <div class="col-11">
                    <span class="support-list__item--text">Thủ tục đặt vé online và phương thức thanh toán như thế
                        nào?</span>
            </div>
        </div>
        <div class="support-list__item row align-items-center mt-2">
            <div class="col-1 text-center   ">
                <span class="support-list__item--text">03</span>
            </div>
            <div class="col-11">
                <span class="support-list__item--text">Làm sao để được cấp thẻ thành viên?</span>
            </div>
        </div>
        <div class="support-list__item row align-items-center mt-2">
            <div class="col-1 text-center   ">
                <span class="support-list__item--text">04</span>
            </div>
            <div class="col-11">
                <span class="support-list__item--text">Lợi ích khi tham gia thẻ thành viên là gì?</span>
            </div>
        </div>
        <div class="support-list__item row align-items-center mt-2">
            <div class="col-1 text-center   ">
                <span class="support-list__item--text">05</span>
            </div>
            <div class="col-11">
                <span class="support-list__item--text">Làm sao để biết được số điểm đã tích lũy?</span>
            </div>
        </div>
    </div>
    <!-- SUPPORT LIST END  -->
    <h4 class="support__title text-center mt-5">gửi câu hỏi</h4>

    <!-- INPUT SEND START  -->
    <div class="support-input row">
        <div class="col-12 mt-5">
            <input type="text" placeholder="HỌ TÊN (*)">
        </div>
    </div>
    <div class="support-input row mt-2">
        <div class="col-6">
            <input type="text" placeholder="ĐIỆN THOẠI (*)">
        </div>
        <div class="col-6">
            <input type="text" placeholder="EMAIL (*)">
        </div>
    </div>
    <div class="support-input row mt-2">
        <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 391px;   padding-top: 50px;
                    padding-left: 8px;"></textarea>
            <label for="floatingTextarea2" style="margin-left: 8px;">NỘI DUNG (*)</label>
        </div>
    </div>
    <div class="support-input__btn row mb-5">
        <div class="col-12 mt-5 text-center">
            <input type="button" value="Submit" width="20%">
            <label for=""></label>
        </div>
    </div>
    <!-- INPUT SEND END -->
</div>
<!-- SUPPORT END -->

<!-- Footer  -->
<footer class="">
    <div class="container footer">
        <div class="row  font__source">
            <div class="footer__logo col-lg-4 col-md-6 col-12">
                <img src="../img/logo/footer__logo.png" alt="">
                <div class="footer--menu">
                    <ul class="mt-3">
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Tuyển dụng
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Giới thiệu
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Liên hệ
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Điều khoản sử dụng
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Liên hệ quảng cáo
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Điều khoản bảo mật
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__list-Address col-lg-4 col-md-6 col-12">
                <div class="footer__title align-content-center">
                    <h3>ĐỊA CHỈ RẠP PHIM TOÀN QUỐC</h3>
                </div>
                <div class="footer--menu mt-3">
                    <ul>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Dynamic Energy Cinemas TP. HCM

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Dynamic Energy Cinemas Hà Nội

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Dynamic Energy Cinemas Đà Nẵng

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Dynamic Energy Cinemas Bắc Giang

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)"/>
                            </svg>
                            Dynamic Energy Cinemas Khánh Hòa

                        </a></li>
                        <!-- <li><a href="#">Điều khoản bảo mật</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="footer__list-Address col-lg-4 col-md-6 col-12">
                <div class="footer__title">
                    <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
                </div>
                <div class="footer__connection mt-3 ms-2">
                    <a href=""><img src="../img/logo/logo_fb.png" alt=""></a>
                    <a class="ms-3" href=""><img src="../img/logo/iconYTB.png" alt=""></a>
                </div>
                <div class="mt-3">
                    <img src="../img/logo/boCongThuong.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="../js/js_tangGiamSL.js"></script>
<script src="../js/js_chonGhe.js"></script>

<!-- Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>