<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style CSS  -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Style CSS  -->
    <link rel="stylesheet" href="../css/style__header.css"/>
    <!-- Style CSS  -->
    <link rel="stylesheet" href="../css/style__navigation.css">
    <!-- Style CSS  -->
    <link rel="stylesheet" href="../css/style__cardItem.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../css/style__thanhtoan.css">
    <!-- Style CSS  -->
    <link rel="stylesheet" href="../css/style__footer.css">
    <!-- Font Chữ Web Phim Movie  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap"
            rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS font-awesome  -->
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <title>Mua vé xem phim</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>
    <!-- Thư viện DOMPurify -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.4/purify.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <script src="../js/chiNhanh.js"></script>
</head>

<body>
<!-- Header  -->
<div class="container header">
    <div class="row">
        <!-- logo  -->
        <div class="col-lg-3 col-md-6 col-12 header__logo">
            <img src="../img/logo/Logo_Web.png" alt=""/>
        </div>
        <!-- Option  -->
        <div class="col-lg-4 col-md-6 col-12 header__search">
            <!-- Example single danger button -->
            <div class="btn-group font__source">
                <button onclick="loadData()" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">Tỉnh/Thành Phố
                </button>
                <ul id="myList" class="dropdown-menu" onclick="showHTML(event)">

                </ul>
            </div>
        </div>

        <div class="col-lg-5 col-md-6 col-sm-6 text-start header__login justify-content-end">
            <th:block th:unless="${#request.remoteUser}">
                <a id="loginToggleBtn" class="btn btn__movie font__source"
                   th:href="@{/security/login/form}"
                   role="button">Đăng Nhập | Đăng Ký</a>
            </th:block>
            <th:block th:if="${#request.remoteUser}">
                <span style="font-size: 15px">Xin chào, <span style="font-weight: bold" th:text="${hoTen}"></span>!</span>
                <!--                <a id="historyBtn" class="btn btn__movie font__source" th:href="@{/order/list}">Lịch Sử Đặt Vé</a>-->
                <a id="logoutBtn" class="btn btn__movie font__source" th:href="@{/security/logoff}" role="button" style="font-size: 15px">Đăng Xuất</a>
                <li class="nav-item" th:if="${#request.isUserInRole('DIRE')}" style="list-style: none;">
                    <a class="nav-link" th:href="@{/DynamicCinema/admin/index}" style="font-size: 15px">Admin</a>
                </li>
            </th:block>
        </div>
    </div>
</div>
<!-- Navigatione Menu  -->
<nav class=" navbar navbar-expand-lg navbar-light navigation">
    <div class="container navigation__menu">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mb-2" id="navbarSupportedContent">
            <ul class="d-flex justify-content-center navbar-nav nav nav-pills" id="pills-tab" role="tablist"
                style="width: 100%;">
                <li class="nav-item ms-3 font__oswald" role="presentation">
                    <a style="text-decoration: none" href="http://localhost:8085/DynamicCinema/index">
                        <button class="nav-link btn__nvgt active" id="pills-buyVe-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-buyVe" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">
                            LỊCH CHIẾU THEO RẠP
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/movies">
                        <button class="nav-link btn__nvgt" id="pills-movie-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-movie" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">
                            PHIM
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/cinemaCorner">
                        <button class="nav-link btn__nvgt" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false">GÓC ĐIỆN ẢNH
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/event">
                        <button class="nav-link btn__nvgt" id="pills-suKien-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-suKien" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">SỰ KIỆN
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/priceTicket">
                        <button class="nav-link btn__nvgt" id="pills-rap-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-rap" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">
                            RẠP/GIÁ VÉ
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/support">
                        <button class="nav-link btn__nvgt" id="pills-support-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-support" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">HỖ TRỢ
                        </button>
                    </a>
                </li>
                <li class="nav-item ms-3 font__oswald " role="presentation">
                    <a style="text-decoration: none;list-style-type: none;color: black"
                       href="http://localhost:8085/DynamicCinema/member">
                        <button class="nav-link btn__nvgt" id="pills-thanhvien-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-thanhvien" type="button" role="tab" aria-controls="pills-hiubeba"
                                aria-selected="false">THÀNH VIÊN
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Card item movie  -->
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <!-- Hiển thị thông báo thanh toán thành công -->
        <div id="paymentSuccess" class="container col-4 mt-3 card p-4">
            <h2 class="text-center">Thanh toán thành công!</h2>
            <p class="text-center">Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>
            <!-- Hiển thị thông tin từ localStorage -->
            <div class="mt-3">
                <p><strong>Tên Khách Hàng: </strong><span th:text="${customerName}"></span></p>
                <p style="display: flex"><strong>SĐT Khách Hàng: </strong><span th:text="${customerPhone}"></span></p>
                <p style="display: flex"><strong>Email Khách Hàng: </strong><span th:text="${customerEmail}"></span></p>
            </div>
            <div id="paymentDetails" class="mt-3">
                <!-- Thêm các phần tử HTML để hiển thị thông tin hóa đơn -->
            </div>
            <div class="mt-3">
                <button id="downloadPdfBtn" class="btn btn-primary mt-3">Tải về PDF</button>
                <button id="downloadImageBtn" class="btn btn-success mt-3">Tải về Hình ảnh</button>
            </div>
        </div>
    </div>
</div>
<!-- Footer  -->
<footer class="">
    <div class="container footer">
        <div class="row  font__source">
            <div class="footer__logo col-lg-4 col-md-6 col-12">
                <img src="../img/logo/footer__logo.png" alt="">
                <div class="footer--menu">
                    <ul class="mt-3">
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Tuyển dụng
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Giới thiệu
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Liên hệ
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Điều khoản sử dụng
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Liên hệ quảng cáo
                        </a></li>
                        <li><a style="text-transform: none;" href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Điều khoản bảo mật
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__list-Address col-lg-4 col-md-6 col-12">
                <div class="footer__title align-content-center">
                    <h3>ĐỊA CHỈ RẠP PHIM TOÀN QUỐC</h3>
                </div>
                <div class="footer--menu mt-3">
                    <ul>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Dynamic Energy Cinemas TP. HCM

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Dynamic Energy Cinemas Hà Nội

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Dynamic Energy Cinemas Đà Nẵng

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Dynamic Energy Cinemas Bắc Giang

                        </a></li>
                        <li><a href="#">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="none">
                                <style>
                                    @keyframes slide-17 {
                                        to {
                                            transform: translateX(2px)
                                        }
                                    }
                                </style>
                                <path fill="#0A0A30"
                                      d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z"
                                      style="animation:slide-17 1s infinite alternate both cubic-bezier(1,-.01,0,.98)" />
                            </svg>
                            Dynamic Energy Cinemas Khánh Hòa

                        </a></li>
                        <!-- <li><a href="#">Điều khoản bảo mật</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="footer__list-Address col-lg-4 col-md-6 col-12">
                <div class="footer__title">
                    <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
                </div>
                <div class="footer__connection mt-3 ms-2">
                    <a href=""><img src="../../static/img/logo/logo_fb.png" alt=""></a>
                    <a class="ms-3" href=""><img src="../../static/img/logo/iconYTB.png" alt=""></a>
                </div>
                <div class="mt-3">
                    <img src="../../static/img/logo/boCongThuong.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Separate Popper and Bootstrap JS -->
<script src="../js/auth.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy thông tin ngày chiếu từ localStorage
        const selectedDateTime = JSON.parse(localStorage.getItem('selectedDateTime'));
        // Lấy thông tin Phim từ localStorage
        const selectedMovieInfo = JSON.parse(localStorage.getItem('selectedMovie'));
        const selectedVeInfo = JSON.parse(localStorage.getItem('randomNumber'));
        // Lấy thông tin ghế từ localStorage
        const selectedSeatsInfo = JSON.parse(localStorage.getItem('selectedSeats'));
        // Lấy thông tin chi nhánh từ localStorage
        const selectedBranch = JSON.parse(localStorage.getItem('selectedBranch'));


        // Lấy thông tin topping từ localStorage
        // const selectedToppings = JSON.parse(localStorage.getItem('selectedToppings'));
        // console.log("Topping đã chọn:",selectedToppings);
        function generateRandomCode() {
            const randomNumber = Math.floor(100000 + Math.random() * 900000);

            localStorage.setItem('randomNumber', JSON.stringify(selectedVeInfo));// Tạo số ngẫu nhiên từ 100000 đến 999999
            return `MV${randomNumber}`;

        }

        // Bắt sự kiện khi nút "Tải về PDF" được click
        document.getElementById('downloadPdfBtn').addEventListener('click', function () {
            createAndDownloadPDF();
        });

        // Bắt sự kiện khi nút "Tải về Hình ảnh" được click
        document.getElementById('downloadImageBtn').addEventListener('click', function () {
            createAndDownloadImage();
        });

        function createAndDownloadPDF() {
            const element = document.getElementById('paymentSuccess');

            if (element) {
                // Lấy nội dung văn bản từ phần tử
                const textContent = element.innerText;

                // Tạo định dạng PDF
                const pdfDocDefinition = {
                    content: [
                        { text: 'Thanh toán thành công!', style: 'header' },
                        { text: textContent.replace('Thanh toán thành công!', ''), style: 'body' }
                    ],
                    styles: {
                        header: { fontSize: 18, bold: true, alignment: 'center' },
                        body: { fontSize: 12 }
                    }
                };

                // Tạo và tải về PDF
                pdfMake.createPdf(pdfDocDefinition).download('Payment_Success.pdf');
            } else {
                console.error("Không tìm thấy phần tử với id 'paymentSuccess'");
            }
        }

        function createAndDownloadImage() {
            const element = document.getElementById('paymentSuccess');
            html2canvas(element).then(function (canvas) {
                const image = canvas.toDataURL('image/png');
                const link = document.createElement('a');
                link.href = image;
                link.download = 'Payment_Success.png';
                link.click();
            });
        }

        const randomCode = generateRandomCode();

        // Hiển thị thông tin đã chọn trong console
        console.log("Ngày chiếu đã chọn:", selectedDateTime.date);
        console.log("Suất chiếu đã chọn:", selectedDateTime.showtime);
        console.log("SelectedSeatsInfo:", selectedSeatsInfo);

        // Hiển thị thông tin hóa đơn từ localStorage
        displayPaymentDetails(randomCode);
        calculateTotal();


        function displayPaymentDetails(randomCode) {
            const paymentDetailsContainer = document.getElementById('paymentDetails');

            if (selectedSeatsInfo) {
            // Thêm mã HTML để hiển thị thông tin hóa đơn
            paymentDetailsContainer.innerHTML = `
                <!-- Các phần tử HTML để hiển thị thông tin hóa đơn -->
                <p><strong>Mã vé: </strong> ${randomCode}</p>
                <p><strong>Phim: </strong> ${selectedMovieInfo.tenPhim}</p>
                <p><strong>Ngày chiếu: </strong> ${selectedDateTime.date}</p>
                <p><strong>Suất chiếu: </strong> ${selectedDateTime.showtime}</p>
                <p><strong>Rạp chiếu: </strong> ${selectedBranch.tenChiNhanh}</p>
                <!-- Thêm thông tin ghế và giá ghế -->
            <div class="mt-3">
                <p><strong>Thông tin ghế: </strong></p>
                <ul>
                    ${selectedSeatsInfo.map(seatInfo => `<li>${seatInfo.seat} (${seatInfo.seatType}): ${formatCurrency(getSeatPrice(seatInfo.seatType))}</li>`).join('')}
                </ul>
            </div>

            <!-- Thêm thông tin topping và giá topping -->

            <!-- Thêm tổng tiền, tiền ghế và tiền topping -->
            <div class="mt-3">
                <p><strong>Tổng tiền ghế:</strong> <span id="totalSeats" class="text-danger" style="font-weight: bold">0 vnđ</span></p>
<!--                <p><strong>Tổng tiền topping:</strong> <span id="total" class="text-danger" style="font-weight: bold">0 vnđ</span></p>-->
                <p><strong>Tổng tiền cần thanh toán:</strong> <span id="Alltotal" class="text-danger" style="font-weight: bold">0 vnđ</span></p>
            </div>

            `;

                // Tính tổng tiền ghế
                const totalSeats = selectedSeatsInfo.reduce((total, seatInfo) => total + getSeatPrice(seatInfo.seatType), 0);

                // Tính tổng tiền topping
                // const totalToppings = selectedToppings.reduce((total, toppingInfo) => total + (toppingInfo.price * toppingInfo.quantity), 0);

                // Hiển thị tổng tiền, tiền ghế và tiền topping
                document.getElementById('totalSeats').innerText = formatCurrency(totalSeats);
                // document.getElementById('total').innerText = formatCurrency(totalToppings);
                const allTotal = totalSeats;
                document.getElementById('Alltotal').innerText = formatCurrency(allTotal);
        }else {
                console.error("Không tìm thấy phần tử với id 'paymentDetails'");
            }

        }

            const requestData = {
                data: {
                    selectedDateTime,
                    selectedMovieInfo,
                    selectedSeatsInfo,
                    selectedBranch
                }
            };
            // Gửi dữ liệu qua API
            fetch('/api/ThongKe/all', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(requestData),
            })
                .then(response => response.json())
                .then(data => {
                    // Xử lý phản hồi từ API nếu cần
                    console.log(data);
                })
                .catch(error => {
                    console.error('Lỗi:', error);
                });

    });


</script>

<script src="../js/js_tangGiamSL.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>