<!DOCTYPE html>
<html lang="en">
<div xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Đăng Nhập</title>
        <link rel="stylesheet" href="/css/login.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>

    <body ng-app="myApp" ng-controller="TaiKhoanController">
    <div class="login-wrap">
        <form th:action="@{/security/login}" method="post">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
                                                                                         class="tab">Sign In</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label
                    for="tab-2" class="tab">Sign Up</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="username" class="label">Tài Khoản</label>
                            <input id="username" type="text" class="input" name="username" th:value="${username}">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Mật Khẩu</label>
                            <input type="password" id="password" name="password" th:value="${password}" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <input id="remember" type="checkbox" name="remember" value="true">
                            <label><span class="icon"></span> Keep me
                                Signed in</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign In">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Forgot Password?</a>
                        </div>
                        <div th:if="${message}" class="alert alert-danger" role="alert">
                            <span th:text="${message}"></span>
                        </div>
                    </div>
                    <div class="sign-up-htm">
                        <div class="CRUD">
                            <div class="CRUD-body">
                                <div class="coolinput">
                                    <label for="input" class="text">E-mail</label>
                                    <input type="text" class="input">
                                </div>
                            </div>
                            <div class="CRUD-body">
                                <div class="coolinput">
                                    <label for="input" class="text">Mật khẩu</label>
                                    <input type="text" class="input" >
                                </div>
                            </div>

                            <div class="CRUD-body">
                                <div class="coolinput">
                                    <label for="input" class="text">Họ và tên</label>
                                    <input type="text" class="input">
                                </div>
                            </div>

                            <div class="CRUD-body">
                                <div class="coolinput">
                                    <label for="input" class="text">Số điện thoại</label>
                                    <input type="text" class="input">
                                </div>
                            </div>

                            <div class="CRUD-body">
                                <div class="radio-gender">
                                    <div class="radio-button">
                                        <input type="radio" class="radio-button__input" id="radio1" name="radio-group"
                                                ng-value="true" checked>
                                        <label class="radio-button__label" for="radio1">
                                            <span class="radio-button__custom"></span>
                                            Nam
                                        </label>
                                    </div>
                                    <div class="radio-button">
                                        <input type="radio" class="radio-button__input" id="radio3" name="radio-group"
                                               ng-value="false">
                                        <label class="radio-button__label" for="radio3">
                                            <span class="radio-button__custom"></span>
                                            Nữ
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            <button class="btn new" >Đăng ký</button>
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1">Đã có tài khoản ?</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="/js/admin/CRUDTaiKhoan.js"></script>
    </body>
</div>
</html>