.content__chiTiet--moTa {
  color: #000;
  font-family: Source Sans Pro;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.date__ngay {
  font-size: 38px;
  font-family: "Oswald", sans-serif;
}
.date__phude {
  color: rgba(0, 0, 0, 0.81);
  /* text-align: center; */
  font-family: Oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 432;
  line-height: normal;
}

.date__menu{
    border-bottom: 2px solid #E5E5E5 !important;
}

.btn__time{
    background-color: #E5E5E5 !important;
    width: 120px;
    height: 42px;
}

.btn__time:hover {
    background-color: lightgray !important;
}

.btn__date {
    transform: scale(1);
    transition: 0.9s !important;
}

.btn__date:hover {
    transform: scale(1.05);
    transition: 0.7s;
}

.btn__date.active{
    border-bottom: 3px solid #37A9EC !important;
}