/* .navigation {
    background-color: #2661a6;
} */

.navigation__menu ul li button{
    font-weight: 500;
    color: black !important;
    transform: scale(1);
    /* border-bottom: 5px solid #f4a043; */
    transition: 1s;
}

.navbar {
    padding: 0 !important;
}