.item__movie {
    transform: scale(1);
    transition: 1.5s;
    /* padding: 3px; */
}

.item__movie:hover {
    transform: scale(1.03);
    border-radius: 8px;
    /* border-color: rgb(88, 88, 90); */
    /* border-style: solid; */
    /* border-width: 2px; */
    box-shadow: rgba(9, 15, 24, 0.364) 0px 2px 5px 0px;
    /* box-shadow: 5px 10px; */
    /* border: 2px solid #FFCD39; */
    transition: 0.7s;
}
