footer {
    background-color: #2661a6;
    margin-top: 24px;
}

.footer {}

.footer__logo {}

.footer__logo img {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: -20px;
}

.footer__logo--menu {}

.footer--menu ul {}

.footer--menu ul li {
    list-style: none;
}

.footer--menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer--menu ul li a:hover {
    color: #f4a043;
    /* transform: scale(1.1); */
    transition: 0.5s;
}

.footer__list-Address {}

.footer__list-Address h4 {
    text-transform: uppercase;
    color: white;
    /* width: 400px; */
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_help {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
